<%- include ('includes/header') %>

<h1>LOGIN PAGE!</h1>

<div class="container">
    <form action="/login" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Username"><br>
        <input type="password" class="form-control" name="password" placeholder="Password"><br>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>

<%- include ('includes/footer') %>
